:global {
    .am-list-item .am-list-line .am-list-content,
    .am-list-item .am-list-line .am-list-extra {
        font-size: 0.28rem;
    }
    .am-modal-body .goodsDetail__goodsDeailbox___3FWiY {
        color: #000;
    }
    .my-list .am-list-body .am-list-item .am-list-line {
        padding-left: 0.3rem;
    }
    .my-list .am-list-item-middle {
        padding-left: 0;
    }
}

.textCenter {
    :global {
        .am-list-content {
            text-align: center !important;
        }
    }
}
.buttonSelf {
    padding: 0.3rem 0;
    background: #fff;
    margin-top: 0.2rem;
    :global {
        .am-button {
            height: 0.74rem;
            line-height: 0.74rem;
            padding: 0 0.5rem;
            span {
                font-size: 0.28rem;
            }
        }
    }
}
.priceTotalM {
    padding: 0.2rem 0;
    background: #fff;
    margin-bottom: 0.18rem;
    & > div {
        padding: 0 0.3rem;
        position: relative;
        margin-bottom: 0.1rem;
        & > span {
            position: absolute;
            right: 0.3rem;
            top: 0;
        }
    }
    & > div:last-child {
        & > span {
            color: #c00;
            font-weight: bold;
        }
    }
}
.addressInf {
    border-bottom: 1px solid #ddd;
    & > div {
        padding: 0 0.3rem 0.1rem;
        position: relative;
    }
    & > div:first-child {
        & > p {
            // border-bottom:1px solid #ddd;
            padding-top: 0.1rem;
        }
    }
}
.remark:after {
    clear: both;
    content: '';
    height: 0;
    display: block;
}
.remark {
    border-bottom: 1px solid #ddd;
    padding: 0 0.3rem;

    & > div:first-child {
        color: #000;
        font-size: 0.28rem;
        line-height: 1.5;
        text-align: left;
        width: 20%;
        float: left;
        padding: 0.15rem 0;
    }
    & > div:last-child {
        box-sizing: border-box;
        width: 80%;
        padding: 0.15rem 0 0.1rem 20px;
        float: left;
    }
}
.modalButton {
    :global {
        .am-modal-title {
            padding-top: 20px;
            font-size: 0.42rem;
        }
        .am-modal-content {
            border-top-left-radius: 36px;
            border-top-right-radius: 36px;
        }
        .am-modal-button {
            background: #108ee9;
            color: #fff;
        }
    }
}

.modallist {
    :global {
        .am-modal-title {
            height: 65px;
            line-height: 65px;
        }
        .am-modal-body {
            max-height: calc(100vh - 207px);
        }
        .am-modal-button {
            background: #108ee9;
            color: #fff;
        }
    }
}
.modelTitleBlue {
    :global {
        .am-modal-header {
            background: #108ee9;
        }
        .am-modal-header .am-modal-title {
            color: #fff;
        }
        .am-modal-title {
            height: 40px;
            line-height: 60px;
        }

        .am-modal-body {
            -webkit-overflow-scrolling: touch;
            height: calc(100vh - 3rem);
            overflow-y: scroll;
            text-align: left;
            background: #f2f2f2;
            & > div {
                & > div {
                    & > div:first-child {
                        padding: 0.2rem 0;
                        background: #fff;
                        & > div:first-child {
                            color: #000;
                            margin-bottom: 0.07rem;
                        }
                        & > div:last-child {
                            & > div:last-child {
                                // text-align: right;
                                padding-right: 0.1rem;
                            }
                        }
                    }
                }
            }
        }
        .am-modal-button {
            background: #108ee9;
            color: #fff;
        }
        // .am-modal-footer {
        //     display: none;
        // }
    }
}
.modelStyle {
    :global {
        .am-modal-header {
            background: #108ee9;
        }
        .am-modal-header .am-modal-title {
            color: #fff;
        }
        .am-modal-title {
            height: 65px;
            line-height: 65px;
        }
        .am-modal-body {
            // height: calc(100vh - 207px);
            text-align: left;
            background: #f2f2f2;
        }
        .am-modal-button {
            background: #108ee9;
            color: #fff;
        }
    }
}
.btn {
    width: 100%;
    position: fixed;
    bottom: 0;
}
.listStyle {
    :global {
        .am-list {
            padding: 0 !important;
        }
    }
}
